body, html {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

.jumbotron {
    background-image: url("../img/origami.png");
    text-align: center;
    background-size: cover;
    height: auto;
    margin-top: 2px;
}

section {
    min-height: 80vh;
}

.moi {
    width: 10%;
}

.wcomment {
    color: grey;
}

footer {
    background-color: #444444;
    height: 12vh;
}

.nav-pills .pillcolor .nav-link {
    background: black;
    color: #4caf50;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link i:hover,
.navbar-light .navbar-nav .nav-link i:focus, i {
    color: #4caf50;
}

.nav-pills .pillcolor .nav-link:not(.active) {
    color: black;
}

.nav-pills .pillcolor .nav-link:not(.active):hover {
    background-color: #ECECEC;
}

.nav-pills .pillcolor .nav-link:not(.active) {
    background-color: #f9f9f9;
}
