body, html {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    font-family: 'Zilla Slab', Roboto, sans-serif;
    font-size: 1rem;
}
h1, h2,h3{
    font-family: 'Share Tech Mono' , sans-serif;
    font-weight: bold;
}

p, .ftext {
    font-size: 1.1rem;
}

.jumbotron {
    background-image: url("../img/origami.jpg");
    text-align: center;
    background-size: cover;
    height: auto;
    margin-top: 1px;
}

section {
    min-height: 80vh;
}

.moi {
    width: 16%;
}

.wcomment {
    color: grey;
}

footer {
    background-color: #444444;
    height: 18vh;
}

.nav-pills .pillcolor .nav-link {
    background: black;
    color: #4caf50;
}

.name{
    color: lightgrey;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.name:hover,
.navbar-light .navbar-brand:hover, a:link,
.navbar-light .navbar-nav .nav-link i:hover,
.navbar-light .navbar-nav .nav-link i:focus, i {
    color: #4caf50;
}
button a:link,
.nav-pills .pillcolor .nav-link:not(.active) {
    color: black;
}

.nav-pills .pillcolor .nav-link:not(.active):hover {
    background-color: #ECECEC;
}

.nav-pills .pillcolor .nav-link:not(.active) {
    background-color: #f9f9f9;
}
button a:hover{
    color: white;
}
