Options +FollowSymLinks -Multiviews

    RewriteEngine on

#RewriteRule ^index.php$ Public/index.php
RewriteBase /

    # Hide index.php
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.*)index\.php($|\ |\?)
    RewriteRule ^ /%1 [R=301,L]