{% extends'layout.twig' %}

{% block content %}
    <!-- Formulaire -->
    <div class="container">
        <form id="registerform" method="post">
            <div class="row has-success mt-1">
                <h2 class="mt-4 mb-1 border-bottom text-center col-12">S'inscrire</h2>
                <p class="col-12 h6 mt-1 mb-4 text-center">Veuillez fournir des informations valides</p>
                <div class="form-group mt-3 col-6">
                    <label for="firstname">Prénom</label>
                    <input type="text" id="firstname" placeholder="Prénom" class="form-control" required>
                </div>
                <div class="form-group mt-3 col-6">
                    <label for="name">Nom</label>
                    <input type="text" id="lastname" placeholder="Nom" class="form-control" required>
                </div>
                <div class="form-group mt-2 col-12">
                    <label for="emaildata">Adresse email</label>
                    <input type="email" id="mail" class="form-control" aria-describedby="emailHelp"
                           placeholder="Votre email" required>
                    <small id="emailHelp" class="form-text text-muted">Veuillez saisir une adresse email valide</small>
                </div>
                <div class="form-group mt-3 col-6">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Password" class="form-control" required>
                </div>
                <div class="form-group mt-3 col-6">
                    <label for="password">Password</label>
                    <input type="password" id="passwordconfirm" placeholder="Confirmer Password" class="form-control" required>
                    <small id="passwordhelp" class="form-text text-muted">Veuillez confirmer votre password</small>
                </div>

                <div class="form-check offset-md-4 offset-1 col-10">
                    <input type="checkbox" class="form-check-input" id="Check2" required>
                    <label class="form-check-label" for="Check2">J'accèpte les conditions générales de
                        confidentialité.</label>
                </div>
                <button type="submit" class="btn btn-outline-dark mt-4 mx-auto mb-5">Valider <i
                            class="fas fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div><!-- container -->
{% endblock %}
