<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="mt-4 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/MulotKevin">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/kevin-mulot">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/kevinmulot">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                </ul>
                <div class="text-center">
                    {% if session.user.status == true %}
                        <a href="../public/?access=admin">Administration</a>
                    {% endif %}
                    <p class="copyright text-muted">Copyright &copy;Keimuo 2019</p>
                </div>
            </div>
        </div>
    </div>
</footer>
