<!-- ***** Body ***** -->
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-gradient-light">
    <a class="navbar-brand" href="../public/index.php?access=home">Mon Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../public/?access=home">Accueil <span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../public/?access=blog">Blog</a>
            </li>
            {% if session.user.username is not defined %}
                <li class="nav-item">
                    <a class="nav-link" href="../public/?access=user">Inscription</a>
                </li>
            {% endif %}
            {% if session.user.statut == true %}
                <li class="nav-item">
                    <a class="nav-link" href="../public/?access=blog!admin">Administration</a>
                </li>
            {% endif %}
        </ul>
        {% if session.user.username is not defined %}
            <div class="clearfix rounded-top my-2 my-lg-0">
                <a class="btn btn-outline-success float-right" data-toggle="modal" data-target="#connexion">Connexion</a>
            </div>
        {% endif %}
        {% if session.user.username is defined %}
            <div class="clearfix rounded-top my-2 my-lg-0">
                <a class="btn btn-outline-dark float-right" data-toggle="modal" data-target="#logout">Deconnexion</a>
            </div>
        {% endif %}
    </div>
</nav>
<!-- Connection Modal  -->
<div class="modal fade" id="connexion" tabindex="-1" role="dialog" aria-labelledby="connexion"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Identification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group has-success connect " method="post" action="../public/?access=user!login">
                    <label for="email" class="col-form-label">Votre email :</label>
                    <input class="form-control" name="email" type="email" value="{{ email }}" placeholder="Email">
                    <small class="form-text text-danger">{{ error.emailLog }}</small>
                    <label for="recipient-name" class="col-form-label">Votre password :</label>
                    <input class="form-control" name="password" type="password" placeholder="Password">
                    <small class="form-text text-danger">{{ error.passwordLog }}</small>
                    <button class="btn btn-outline-dark btn-md mt-3 clearfix float-right" type="submit">Connexion</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- logout Modal -->
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logout"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Se déconnecter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                   Souhaitez-vous être déconnecté ?
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-success float-right" href="../public/?access=user!logout">Confirmer</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>